* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #f5f5f5;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;
}

header .logo {
  max-width: 120px;
  height: auto;
}

header nav {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;  /* Elemanların taşmasını engelle */
  justify-content: center;  /* Menü elemanları ortalanacak */
}

header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

header nav a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  transform-origin: center;
  background-color: #ff0000;
  transition: width 0.5s ease;
}

header nav a:hover::after {
  width: 90%;
}

header nav a:hover {
  color: #555;
}

header .search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  position: relative;
  order: 3; /* Search div'i son sıraya al */
}

header .search input {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  color: #333;
  flex: 1;
  outline: none;
  font-size: 1rem;
}

header .search input::placeholder {
  color: #999;
}

header .search .fa-magnifying-glass {
  position: absolute;
  left: 15px;
  color: #666;
  font-size: 1rem;
  pointer-events: none;
}

header .search .fa-bell {
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

header .search .fa-bell:hover {
  color: #555;
  transform: scale(1.2);
}

header .search .profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/AAAABVkcDtE1_UaJBGFQUfxakjzhYdT1L4kso24uZS0ASl_faURPBSGzY_Mxbx1KEcNbZr3ZqCatG-0zi2k3L4oBXenznQrrROKJQqdu.jpg");
  background-size: cover;
  background-position: center;
}

#movie-details {
  padding: 2rem 3rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#movie-details h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.rating {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.rating .stars {
  font-size: 1.2rem;
  color: #f39c12;
}

.user-rating {
  font-size: 1.2rem;
  color: #fff;
}

.duration {
  font-size: 1rem;
  color: #aaa;
}

.desc {
  font-size: 1rem;
  margin-top: 1.5rem;
  line-height: 1.6;
  color: #ddd;
}

.details ul {
  list-style: none;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: left;
}

.details li {
  margin-bottom: 0.8rem;
}

.details li span {
  font-weight: 600;
}

button {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

button i {
  font-size: 1.2rem;
}

button:hover {
  background-color: transparent;
  transform: scale(1.05);
}

button:focus {
  outline: 3px solid #ff0000;
}

.movie-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.movie-card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

.movie-card h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.movie-card span {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.movie-card button {
  padding: 0.5rem 0.1rem;
  background-color: #ff0000;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
  width: 50%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.movie-card button:hover {
  background-color: #cc0000;
  transform: scale(1);
}

.movie-card button i {
  font-size: 1.2rem;
}

section {
  margin-top: 2rem;
}

section h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.seperation {
  margin-top: 1rem;
  border: 1px solid rgb(54, 54, 54);
}

.join .reason {
  background-color: rgb(138, 43, 226, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to right, #777777, #dbdbdb);
  border-radius: 20px;
  align-items: center;
  padding: 30px;
  margin: 12px auto;
}

.join .reason h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.join .reason span {
  display: block;
  font-size: 1rem;
}

.questions {
  background-color: #f5f5f5;
}

.questions .quesbox {
  background-color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 0.5rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.questions .quesbox a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.questions .quesbox:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.questions .quesbox a:hover {
  color: #e74c3c;
}

.questions .quesbox span {
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.questions .quesbox span:hover {
  color: #e74c3c;
}

footer {
  background-color: #f8f8f8;
  color: #333;
  padding: 60px 20px;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.footer-helps {
  max-width: 400px;
}

.footer-helps nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-helps p span {
  font-weight: 600;
}

.footer-helps a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  padding-right: 10px;
}

.footer-helps a:hover {
  color: #e74c3c;
}

.footer-helps p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #666;
}

.footer-socials .social-icons img {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.footer-socials .social-icons img:hover {
  transform: scale(1.1);
}

.apps .apps-icons img {
  width: 120px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 0.85rem;
  color: #aaa;
  font-weight: 400;
}

.footer-bottom p {
  margin: 0;
  font-style: italic;
}

@media (max-width: 854px) {
  header {
    justify-content: space-between;
    align-items: center;
  
    flex-direction: row;  
    flex-wrap: wrap;  
    padding: 1rem;
  }

  header .logo {

    order: 1;
  }

  header nav {
    gap: 1rem;
    margin-top: 1rem;
    flex-direction: row; 
    width: 100%;
    order: 3;
    justify-content: center; 
  }

  header .search {
    display: flex;  
    gap: 0.8rem;
    margin-top: 1rem;
    order:2;
    justify-content: center;
  }

  header .search input {
    width: 90%;
  }

  header .search .fa-bell,
  header .search .profile {
    font-size: 1.5rem;
  }

  header nav a {
    font-size: 1rem;
  }
  main {
    padding: 1rem;
  }

  #movie-details {
    padding: 1.5rem;
  }

  #movie-details h1 {
    font-size: 1.5rem;
  }

  .rating {
    flex-direction: column;
    align-items: flex-start;
  }

  .desc {
    font-size: 0.9rem;
  }

  .details ul {
    font-size: 0.8rem;
  }

  button {
    max-width: 100%;
  }
}

@media (max-width: 480px) {

  #movie-details {
    padding: 1rem;
  }

  #movie-details h1 {
    font-size: 1.2rem;
  }

  .rating {
    gap: 0.5rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .details ul {
    font-size: 0.75rem;
  }

  button {
    padding: 0.5rem 2rem;
  }
}
